<h1><%= "#{@applicant.name}'s application page" %></h1>
<p><%= @applicant.name %></p>
<p><%= @applicant.street_address %></p>
<p><%= @applicant.city %></p>
<p><%= @applicant.zipcode %></p>
<p><%= @applicant.description %></p>
<!-- <p><%= @applicant.pets %></p> -->
<p>pets: <%=%></p>
<p><%= @applicant.status%></p>
