<h1><%= "#{@application.name}'s application Admin" %></h1>
<%= render "shared/applicant"%>
<% @application.pet_applications.each do |pet_app| %>
  <% if pet_app.status == "Pending" %>
      <p>Applied for: <%= pet_app.pet.name %> <%= button_to "Approve #{pet_app.pet.name}", "/admin/pet_applications/#{pet_app.id}/edit", method: :patch, params: {status: "Approved"} %>
      <%= button_to "Deny #{pet_app.pet.name}", "/admin/pet_applications/#{pet_app.id}/edit", method: :patch, params: {status: "Denied"} %></p>
  <% else %>
      <p><%= pet_app.pet.name %>: <%= pet_app.status %></p>
    <% end %>
<% end %>
